<% @filtered_trackers.each_with_index do |tracker, place| %>
  <% user = tracker.user %>
  <% score = params[:depth] == "at" ? tracker.at(@base_level) : tracker.thru(@base_level) %>
  <tr>
    <td><%= place + 1 %></td>
    <td class="highlight-solution"><a href="<%= user_path(user_id: user, game_id: @game.id) %>"><%= "#{user.username_for_game(@game)} - #{user.solution_number}" %></a></td>
    <td style="text-align: right;"><%= number_with_delimiter(tracker.all_time_high) %></td>
    <td style="text-align: right;"><%= number_with_delimiter(score) %></td>
    <td class="highlight-solution">
      <% if user.upline %>
        <a href="<%= user_path(user_id: user.upline, game_id: @game.id) %>"><%= "#{user.upline.username_for_game(@game)} - #{user.upline.solution_number}" %></a>
      <% end %>
    </td>
  </tr>
<% end %>
