<div class="container">
  <div class="col-xs-2">
    <form id="filter-users-form">
      <div class="form-field">
        <%= select_tag :game, options_from_collection_for_select(Game.all, "id", "name"), class: 'form-control' %>
      </div>
      <div class="form-field">
        <%= radio_button_tag :depth, :at, true %> At &nbsp;
        <span style="float: right"><%= radio_button_tag :depth, :thru, false %> Thru</span>
      </div>
      <div class="form-field">
        <%= select_tag :base_level, options_for_select(%w[ Personal 1st 2nd 3rd 4th 5th 6th ]), class: 'form-control' %>
      </div>
      The forms below are not yet active
      <div class="form-field">
        <%= select_tag :hierarchy_level, options_for_select(%w(Representative Sr.Representative District Division Regional Sr.Regional RVP SVP NSD SNSD)), class: 'form-control' %>
      </div>
      <div class="form-field">
        <!-- Select Area, etc etc -->
      </div>
    </form>
  </div>
  <div class="col-xs-10">
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>User</th>
        <th>Value</th>
        <th>Upline</th>
      </thead>
      <tbody id="filtered-user-table" data-userUrl="<%= filtered_users_path %>">
      </tbody>
    </table>
    <div id="loading-container" class="text-center">
      <i class="fa fa-spinner fa-3x fa-spin"></i>
    </div>
  </div>
</div>
